**/node_modules/
**/dist/

.env
frontend/.env.local
frontend/.env.development
frontend/.env.production
server/.env

frontend/.next/

.DS_Store
Thumbs.db

.vscode/

frontend/node_modules/
server/node_modules/
frontend/dist/
server/dist/
frontend/.env
server/.env
frontend/.next/
node_modules

backend/uploads/
backend/database.sqlite